<!-- search form -->
<form action="{{ path('search_result') }}" method="post" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="term" class="form-control" placeholder="Search..." />
        <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
<!-- /.search form -->